:root {
    --background-color: #fff;
    --text-color: #1d2d34;
    --link-color: rgb(61, 122, 237);
    --link-hover-color: #1e8c88;
}

[data-theme="dark"] {
    --background-color: #3F3F3F;
    --text-color: #fff;
    --link-color: #ffab00;
    --link-hover-color: #ff63c3;
}

body {
    font-family: 'Open Sans', serif;
    font-size: 24px;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
}

h2 {
    color: var(--text-color);
}

dt {
    color: var(--text-color);
    font-size: 26px;
}

dd {
    color: var(--text-color);
}

li {
    color: var(--text-color);
    align-items: center;
}

#photoHead {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

#icon-contact {
    width: 30px;
    height: 30px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

button {
    padding-left: initial;
}

a:hover {
    text-decoration: none;
    color: var(--link-hover-color);
}

a:active {
    color: var(--link-hover-color);
}

img {
    padding: 5px;
    width: 30px;
}
 button {
     position: absolute;
     left: 80%;
 }

.languages {
    font-size: medium;
}

ul {
    text-align-all: center;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 1;
    transition: box-shadow 0.3s ease-in-out;
}